fastapi
uvicorn
streamlit
pandas
numpy
scikit-learn
joblib
shap
matplotlib
plotly
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic
requests
optuna
mlflow
python-dotenv